<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO List</title>
</head>
<body>
    
<h1>Today is <%=kindDay%> </h1>
<ul>
    <li>Comida</li>
    <li>Refresco</li>
    <li>porno   </li>
</ul>

<form action="/" method="post">
    <input type="text">
    <button type="submit">PUSH</button>
</form>
    
</body>
</html>




