<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TO DO List</title>

</head>
<body>
    


<div class="box" id="heading">
    <h1>Today is <%=kindDay%> </h1>
</div>

<div class="box">
        <% for(i=0; i<newItems.length; i++ ){%>
            <div class="item">
                <input type="checkbox">
                <p> <%=newItems[i].name%></p>
                
            </div>
             
    

             <%}%>
 
 

</div>













<form   action="/" method="post">
    <input name="new_item"  type="text" autocomplete="off" placeholder="Agrege">
    <button type="submit">+</button>
</form>
    
</body>
</html>




